[Unit]
Description=Next.js Health App
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/nextjs-sample-app
ExecStart=/usr/bin/npm run start -- --hostname 0.0.0.0 --port 3000
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3000
StandardOutput=append:/var/log/app/nextjs-health.log
StandardError=append:/var/log/app/nextjs-health-error.log

[Install]
WantedBy=multi-user.target
